<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;    
    }
  </style>

<body>
  <h1>Events Information</h1>
  <table style="width:100%">
  <tr>
    <th>Event ID</th>
    {% for n in data1 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Cost</th>
    {% for n in data2 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Date</th>
    {% for n in data3 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Event Name</th>
    {% for n in data4 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Smallest Age to Attend</th>
    {% for n in data5 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Category</th>
    {% for n in data6 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Participant ID</th>
    {% for n in data7 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>State</th>
    {% for n in data8 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>City</th>
    {% for n in data9 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Street Name</th>
    {% for n in data10 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Street Number</th>
    {% for n in data11 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
</table>

<form method="POST" action="/addevent">
<p>Add New Event: <input type="text" name="eid"> <input type="text" name="cost"><input type="text" name="date">
              <input type="text" name="ename"><input type="text" name="smallest_age"><input type="text" name="category">
              <input type="text" name="uid"><input type="text" name="state"><input type="text" name="city">
              <input type="text" name="street_name"><input type="text" name="street_number"><input type="submit" value="Add">
</p>
</form>  
  
<form method="POST" action="/selectevent">
<p>Search Events by:
  <select name="target">
    <option value="eid">Event ID</option>
    <option value="ename">Event Name</option>
    <option value="state">Event State</option>
  </select>
  <input type="text" name="search">
  <input type="submit" value="Search">
</p>
</form> 
<p><a href="/">Go to homepage</a></p>
  
</body>


</html>
