<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;    
    }
  </style>

<body>
  <h1>All Organizers</h1>
  <table style="width:100%">
  <tr>
    <th>User ID</th>
    {% for n in data1 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Event ID</th>
    {% for n in data2 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
</table>

<form method="POST" action="/organize">
<p>Organize Event: <input type="text" name="uid"> <input type="text" name="eid"><input type="submit" value="Add"></p>
</form> 
  
<p><a href="/">Go to homepage</a></p>
  
</body>


</html>
