<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;    
    }
  </style>

<body>
  <h1>All Participants</h1>
  <table style="width:100%">
  <tr>
    <th>User ID</th>
    {% for n in data1 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Event ID</th>
    {% for n in data2 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Rating</th>
    {% for n in data3 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Birthday</th>
    {% for n in data4 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Interest</th>
    {% for n in data5 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
</table>

<p>Register for Event</p>
<form method="POST" action="/participate">
<p>User ID: <input type="text" name="uid"></p> 
<p>Event ID: <input type="text" name="eid"></p>
<p>Rating: <input type="text" name="rating"></p>
<p>Birthdate: <input type="text" name="birth_date"></p>
<p>Interest: <input type="text" name="interest"></p>
<p><input type="submit" value="Add"></p>
</form> 

<form method="POST" action="/selectparticipant">
<p>Search Participants by:
  <select name="target">
    <option value="uid">User ID</option>
    <option value="interest">Interest</option>
    <option value="rating">Rating of Event</option>
  </select>
  <input type="text" name="search">
  <input type="submit" value="Search">
</p>
</form> 
  
<p><a href="/">Go to homepage</a></p>
 
</body>


</html>
