<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;    
    }
  </style>

<body>
  <h1>Users Information</h1>
  <table style="width:100%">
  <tr>
    <th>User ID</th>
    {% for n in data1 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Name</th>
    {% for n in data2 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Email Address</th>
    {% for n in data3 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Password</th>
    {% for n in data4 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Gender</th>
    {% for n in data5 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>State</th>
    {% for n in data6 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>City</th>
    {% for n in data7 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Street Name</th>
    {% for n in data8 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
  <tr>
    <th>Street Number/th>
    {% for n in data9 %}
    <td>{{n}}</td>
    {% endfor %}
  </tr>
</table>

<p><a href="/another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Add Information about New User:</p>
<p>User ID: <input type="text" name="uid"> <input type="submit" value="Add"></p>
<p>Name: <input type="text" name="uname"> <input type="submit" value="Add"></p>
<p>Email Address: <input type="text" name="email_address"> <input type="submit" value="Add"></p>
<p>Password: <input type="text" name="password"> <input type="submit" value="Add"></p>
<p>Gender: <input type="text" name="gender"> <input type="submit" value="Add"></p>
<p>State: <input type="text" name="state"> <input type="submit" value="Add"></p>
<p>City: <input type="text" name="city"> <input type="submit" value="Add"></p>
<p>Street Name: <input type="text" name="street_name"> <input type="submit" value="Add"></p>
<p>Street Number: <input type="text" name="street_number"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
